body {
    font-family: monospace;
    overflow: hidden;
}

header,
footer {
    padding: 1em;
    background-color: #eee;
}

footer {
    text-align: center;
}

h1 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

p {
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

button {
    font-size: 0.8em;
    font-family: inherit;
}

.menu>li {
    display: inline-block;
    vertical-align: top;
}

.menu>li>a {
    display: block;
    padding: 0.6em 1em;
    line-height: 2em;
    color: #669da6;
    text-decoration: none;
}

.menu>li:hover>a {
    background-color: #ead3ce6b;
}

section {
    max-height: 100%;
}

section {
    position: relative;
}

section.content {
    padding: 1em;
    margin-right: 1em;
    z-index: 1;
}

section.content>p {
    max-width: 95%;
}

section>img {
    max-width: 100%;
}

@media screen and (min-width: 900px) {
    body {
        white-space: nowrap;
    }

    section {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        white-space: normal;
    }
}